# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 20 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

15 16 * * *	/root/scrapywrapper/RunSpider.sh AirQualityForecast
15 16 * * *	/root/scrapywrapper/RunSpider.sh WeatherDisasterForecast
15 16 * * *	/root/scrapywrapper/RunSpider.sh TcmMarketDailyPrice_zyctd
15 16 * * *	/root/scrapywrapper/RunSpider.sh TcmMarketDailyPrice_kmzyw
15 16 * * *	/root/scrapywrapper/RunSpider.sh TcmMarketDailyPrice_yaotong
15 16 * * *	/root/scrapywrapper/RunSpider.sh TcmPlaceOfOriginPrice_zyctd
15 16 * * *	/root/scrapywrapper/RunSpider.sh TcmPlaceOfOriginPrice_kmzyw
15 16 * * *	/root/scrapywrapper/RunSpider.sh TcmPlaceOfOriginPrice_yaotong

15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicCompanyReport_json
15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicCompanyInfo
15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicAgencyProfitForecast
15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicCompanyAgencyRating
15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicCompanyCoreBusiness
15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicCompanyCoreSubject
15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicCompanyKeyNumber
15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicCompanyOperationReport
15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicCompanyProfitTrend
15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicCompanyQuarterlyAndAnnualReport
15 16 * * *	/root/scrapywrapper/RunSpider.sh PublicCompanyResearchReportAndRating
15 16 * * *	/root/scrapywrapper/RunSpider.sh BusinessIntelligence
15 16 * * *	/root/scrapywrapper/RunSpider.sh TopTenShareHolder

15 16 * * *	/root/scrapywrapper/RunSpider.sh HistoricalWeatherDisaster
15 16 * * *	/root/scrapywrapper/RunSpider.sh DiseaseForecast
15 16 * * *	/root/scrapywrapper/RunSpider.sh RandomInspection
15 16 * * *	/root/scrapywrapper/RunSpider.sh DrugConsistencyEvaluation

15 16 * * *	/root/scrapywrapper/RunSpider.sh DrugManual
15 16 * * *	/root/scrapywrapper/RunSpider.sh DrugPackagingMaterial
15 16 * * *	/root/scrapywrapper/RunSpider.sh DrugRecall
15 16 * * *	/root/scrapywrapper/RunSpider.sh DrugSafetyWarning

15 16 4 * *	/root/scrapywrapper/RunSpider.sh CityAirQualityMonthly
15 16 4 * *	/root/scrapywrapper/RunSpider.sh InaccurateAdvertisement
15 16 4 * *	/root/scrapywrapper/RunSpider.sh TcmMarketMonthlyPrice_zyctd
15 16 4 * *	/root/scrapywrapper/RunSpider.sh TcmMarketMonthlyPrice_kmzyw
15 16 4 * *	/root/scrapywrapper/RunSpider.sh TcmMarketMonthlyPrice_yaotong
15 16 4 * *	/root/scrapywrapper/RunSpider.sh TcmPlaceOfOriginMonthlyPrice_zyctd
15 16 4 * *	/root/scrapywrapper/RunSpider.sh TcmPlaceOfOriginMonthlyPrice_kmzyw
15 16 4 * *	/root/scrapywrapper/RunSpider.sh TcmPlaceOfOriginMonthlyPrice_yaotong
15 16 4 * *	/root/scrapywrapper/RunSpider.sh DrugBidInfo
15 16 4 * *	/root/scrapywrapper/RunSpider.sh TcmTradingCompany
15 16 4 * *	/root/scrapywrapper/RunSpider.sh PlantingBase
15 16 4 * *	/root/scrapywrapper/RunSpider.sh ExtractInfo
15 16 4 * *	/root/scrapywrapper/RunSpider.sh PatentCategoryNumber

15 16 4 * *	/root/scrapywrapper/RunSpider.sh DrugManual
15 16 4 * *	/root/scrapywrapper/RunSpider.sh DrugPackagingMaterial
15 16 4 * *	/root/scrapywrapper/RunSpider.sh DrugRecall
15 16 4 * *	/root/scrapywrapper/RunSpider.sh DrugSafetyWarning

15 16 4 * *	/root/scrapywrapper/RunSpider.sh JapanMedicalProductInfo
15 16 4 * *	/root/scrapywrapper/RunSpider.sh EUMedicalProductInfo
15 16 4 * *	/root/scrapywrapper/RunSpider.sh InfectiousDiseaseInfo
15 16 4 * *	/root/scrapywrapper/RunSpider.sh MedicalAndHealthOrganizationStatistic

#15 16 7 * *	/root/scrapywrapper/load_static/OrangeBook.sh
#15 16 7 * *	/root/scrapywrapper/load_static/DrugsFDA.sh

0 18 11 5 *	/root/scrapywrapper/RunSpider.sh DoctorRecord
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh PharmacistRecord
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh AnnualHealthStastic
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh HospitalList
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh DiseaseInfo
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh DiseaseAgeStatistic
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh DiseaseRegionalStatistic

0 18 11 5 *	/root/scrapywrapper/RunSpider.sh TcmFormula
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh HistoricalWeather
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh TcmSeedResource
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh DrugRetailPriceCap
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh GapAuthentication
0 18 11 5 *	/root/scrapywrapper/RunSpider.sh RegionalDrugReimbursementList

